<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div ng-repeat="model in circularList">
                  <!-- START list group-->
                  <div class="list-group mb0">
                     <a href="#" class="list-group-item bt0" ng-click="goToFile()">
                     <em class="fa fa-fw fa-file-pdf-o mr"></em>{{model}}</a>
     </div>
                  <!-- END list group-->
                  
               </div>
               
               
          
	
</ul>
</body>
</html>