<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	

      <!-- START panel tab-->
      <div class="panel panel-transparent">
         <tabset justified="true" class="bg-white p0">
            <tab>
               <tab-heading>
                  <em class="fa fa-clock-o fa-fw"></em>Banks</tab-heading>
               <div>
                  <!-- START list group-->
                  <div class="list-group mb0">
                     <a href="#" class="list-group-item bt0">
                        <span class="label label-purple pull-right" style="width:86%" ng-click="bankDoc()">Circulars</span>
                        <em class="fa fa-fw fa-comment mr"></em>{{totalRecords}}</a>
                     <a href="#" class="list-group-item">
                        <span class="label label-purple pull-right" style="width:86%">Tenders</span>
                        <em class="fa fa-fw fa-comment mr"></em>2</a>
                     <a href="#" class="list-group-item">
                        <span class="label label-purple pull-right" style="width:86%">Notices</span>
                        <em class="fa fa-fw fa-comment mr"></em>3</a>
                    
                  </div>
                  <!-- END list group-->
                  
               </div>
            </tab>
            <tab>
               <tab-heading>
                  <em class="fa fa-clock-o fa-fw"></em>Municipalities</tab-heading>
               <div>
                  <!-- START list group-->
                  <div class="list-group mb0">
                     <a href="#" class="list-group-item bt0">
                        <span class="label label-purple pull-right" style="width:86%">Circulars</span>
                        <em class="fa fa-fw fa-comment mr"></em>1</a>
                     <a href="#" class="list-group-item">
                        <span class="label label-purple pull-right" style="width:86%">Tenders</span>
                        <em class="fa fa-fw fa-comment mr"></em>2</a>
                     <a href="#" class="list-group-item">
                        <span class="label label-purple pull-right" style="width:86%">Notices</span>
                        <em class="fa fa-fw fa-comment mr"></em>3</a>
                    
                  </div>
                  <!-- END list group-->
                  
               </div>
            </tab>
           <tab>
               <tab-heading>
                  <em class="fa fa-clock-o fa-fw"></em>Government</tab-heading>
               <div>
                  <!-- START list group-->
                  <div class="list-group mb0">
                     <a href="#" class="list-group-item bt0">
                        <span class="label label-purple pull-right" style="width:86%">Circulars</span>
                        <em class="fa fa-fw fa-comment mr"></em>1</a>
                     <a href="#" class="list-group-item">
                        <span class="label label-purple pull-right" style="width:86%">Tenders</span>
                        <em class="fa fa-fw fa-comment mr"></em>2</a>
                     <a href="#" class="list-group-item">
                        <span class="label label-purple pull-right" style="width:86%">Notices</span>
                        <em class="fa fa-fw fa-comment mr"></em>3</a>
                    
                  </div>
                  <!-- END list group-->
                  
               </div>
            </tab>
            
         </tabset>
        
      </div>
      <!-- END panel tab-->
   </div>
   
</body>
</html>